@font-face {
    font-family: GothicByte;
    src: url(fonts/Gothicbyte-WpeRG.ttf);
}

@font-face {
    font-family: PixelGamer;
    src: url(fonts/PixgamerRegular-OVD6A.ttf);
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5px;

    border: 1px solid white;
    width: 1000px;
    margin: auto;
    color: bisque;
    letter-spacing: 1px;
    padding: 5px;
    height: fit-content;
    background-color: rgba(18, 17, 16, 0.92);
}

.home {
    width: fit-content;
    height: fit-content;
    margin: 0;
    float: left;
    padding: 0;
}

.home img {
    padding-left: 10px;
    padding-top: 10px;
}

#gr_updates_widget{
    border-radius: 5px;
    background-color: rgba(18, 17, 16, 0.92);
    padding:15px 0 35px 15px;
    width:250px;
    height:330px;
    margin: auto;
}
#gr_footer{
    margin-bottom:10px;
}
#gr_updates_widget p{
    padding:0px;
    margin:0;
    font-size:14px;
}
#gr_footer img{
    width:100px;
}
#gr_updates_widget img{
	border: 1px solid white
}


header {
    color: bisque;
    margin: auto;
    margin-top: 50px;
    font-family: GothicByte;
    font-size: 70px;
    border: 1px solid white;
    width: 1000px;
    color: bisque;
    letter-spacing: 1px;
    background-color: rgba(18, 17, 16, 0.92);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.div1 {    
    border: 2px dashed white;
    color: bisque;
    letter-spacing: 1px;
    padding: 0px 5px 0px 5px;
    height: fit-content;
    background-color: rgba(18, 17, 16, 0.92);
}

.div2 {
    grid-column: span 2 / span 2;

    border: 2px dashed white;
    color: bisque;
    letter-spacing: 1px;
    height: fit-content;
    font-family: PixelGamer;
    font-size: 20px;
    padding: 20px;
    background-color: rgba(18, 17, 16, 0.92);
}

.friend-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5px;

    border: 1px solid white;
    width: 610px;
    margin: auto;
    color: bisque;
    letter-spacing: 1px;
    padding: 5px;
    height: fit-content;
    background-color: rgba(18, 17, 16, 0.92);
}

.div3 {
    border: 2px dashed white;
    color: bisque;
    letter-spacing: 1px;
    padding: 0px 5px 0px 5px;
    height: fit-content;
    background-color: rgba(18, 17, 16, 0.92);
}

.div4 {
    border: 2px dashed white;
    color: bisque;
    letter-spacing: 1px;
    padding: 0px 5px 0px 5px;
    height: fit-content;
    background-color: rgba(18, 17, 16, 0.92);
}

footer {
    color: bisque;
    height: 80px;
    font-family: GothicByte;
    font-size: 20px;
    text-align: center;
    border: 1px solid white;
    letter-spacing: 3px;
    width: 1000px;
    margin: auto;
    background-color: rgba(18, 17, 16, 0.92);
    padding-right: 5px;
    padding-left: 5px;
}

#image-box img {
    width: 250px;
}

#other-sites {
    padding: 10px;
    text-align: center;
}

.box-head {
    color: white;
    background-color: rgba(18, 17, 16, 0.92);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    font-family: GothicByte;
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 5px;
    padding: 10px;
}

h3 {
    padding: 0;
    font-family: GothicByte;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: normal;
    margin: 0px;
}

.box-body {
    color: bisque;
    font-family: PixelGamer;
    font-size: 20px;
    padding: 20px;
    margin-top: 5px;
    border: 1px solid white;
    margin-bottom: 5px;
}

#blinkies {
    display: block;
    text-align: center;
    padding: 0;
}

#link-me {
    text-align: center;
}

.divider {
    display: inline-block;
    width: 100%;
    margin-right: 5px;
    align-items: center;
}

#nav-body {
    text-align: left;
    font-family: PixelGamer;
    font-size: 20px;
    letter-spacing: 3px;
}

#scrollbox {
    height: 160px;
    overflow-y: scroll;
}

a {
    color: #ffe4c4;
}

a:hover {
    color: #ffa07a;
}

a:visited {
    color: #ffe4c4;
}

a:visited:hover {
    color: lightsalmon;
}