@font-face {
    font-family: GothicByte;
    src: url(fonts/Gothicbyte-WpeRG.ttf);
}

@font-face {
    font-family: PixelGamer;
    src: url(fonts/PixgamerRegular-OVD6A.ttf);
}

h2 {
    color: bisque;
    text-align: center;
    margin: auto;
    font-family: GothicByte;
    font-size: 50px;
    padding: 10px;
}

h3 {
    color: bisque;
    text-align: center;
    margin: auto;
    font-family: GothicByte;
    font-size: 30px;
    padding: 10px;
}

header {
    color: bisque;
    margin: auto;
    margin-top: 50px;
    font-family: GothicByte;
    font-size: 70px;
    border: 1px solid white;
    width: 1000px;
    color: bisque;
    letter-spacing: 1px;
    background-color: rgba(18, 17, 16, 0.92);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.title {
    font-family: PixelGamer;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.info {
    font-family: PixelGamer;
    font-size: 15px;
    font-style: normal;
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 1200px;
    margin: auto;
}

.info-box {
    text-align: center;
    font-family: PixelGamer;
    font-size: 20px;
    width: 300px;
}

.gallery-container {
    grid-column: span 3 / span 3;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
    margin: auto;
    width: 900px;
    border: 2px solid white;
    color: bisque;
    letter-spacing: 1px;
    background-color: rgba(18, 17, 16, 0.92);
    padding: 5px;
}

.gallery-item {
    flex: auto;
    border: 2px dashed white;
    width: 275px;
    height: fit-content;
    padding: 5px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.box {
    border: 2px solid white;
    color: bisque;
    letter-spacing: 1px;
    height: fit-content;
    font-family: PixelGamer;
    font-size: 20px;
    padding: 20px;
    background-color: rgba(18, 17, 16, 0.92);
}

a {
    color: #ffe4c4;
}

a:hover {
    color: #ffa07a;
}

a:visited {
    color: #ffe4c4;
}

a:visited:hover {
    color: lightsalmon;
}

footer {
    color: bisque;
    height: 80px;
    font-family: GothicByte;
    font-size: 20px;
    text-align: center;
    border: 1px solid white;
    letter-spacing: 3px;
    width: 900px;
    margin: auto;
    background-color: rgba(18, 17, 16, 0.92);
    padding-right: 5px;
    padding-left: 5px;
}

.home {
    width: fit-content;
    height: fit-content;
    margin: 0;
    float: left;
    padding: 0;
}

.home img {
    padding-left: 10px;
    padding-top: 10px;
}

