@font-face {
    font-family: GothicByte;
    src: url(fonts/Gothicbyte-WpeRG.ttf);
}

@font-face {
    font-family: PixelGamer;
    src: url(fonts/PixgamerRegular-OVD6A.ttf);
}

header {
    color: bisque;
    text-align: center;
    margin: auto;
    font-family: GothicByte;
    font-size: 70px;
    padding: 20px;
}

.container {
    border: 2px dashed white;
    align-content: center;
    margin: auto;
    color: bisque;
    letter-spacing: 1px;
}

#image-box {
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid white;
    margin-bottom: 5px;
}

#page {
    border: 2px dashed white;
    align-content: center;
    width: 1200px;
    margin: auto;
    color: bisque;
    letter-spacing: 1px;
    background-color: rgba(18, 17, 16, 0.92);
}

#left {
    float: left;
    width: 200px;
    margin-top: 5px;
    margin-right: 5px;
}

#right {
    float: right;
    width: 200px;
    margin-top: 5px;
    margin-left: 5px;
    
}

#main {
    margin: 5px;
    padding: 0px 5px 0px 5px;
    font-family: PixelGamer;
    font-size: 20px;
    padding: 10px;
}

.box-head {
    color: white;
    background-color: rgba(18, 17, 16, 0.92);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    font-family: GothicByte;
    font-size: 25px;
    letter-spacing: 3px;
    padding: 10px;
}

.box-body {
    color: bisque;
    font-family: PixelGamer;
    font-size: 20px;
    padding: 10px;
    border: 1px solid white;
    margin-bottom: 5px;
}

.divider {
    display: inline-flex;
    width: 100%;
    padding: 0;
    margin: 0;
}

#nav-body {
    text-align: left;
    font-family: PixelGamer;
    font-size: 20px;
    letter-spacing: 3px;
}

#scrollbox {
    height: 160px;
    overflow-y: scroll;
}

.title {
    font-size: 20px;
    font-style: italic;
}

.info {
    font-size: 15px;
    font-style: normal;
}

.grid-container {
  columns: 3 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: dashed 2px white;
    padding: 5px;
  }
    
    img {
      width: 100%;
    }

    img:hover {
        transform: scale(1.5);
    }

    p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-family: PixelGamer;
    }
  }


footer {
    color: bisque;
    height: 80px;
    font-family: GothicByte;
    font-size: 20px;
    text-align: center;
    border: 1px solid white;
    letter-spacing: 3px;
    width: 1000px;
    margin: auto;
    background-color: rgba(18, 17, 16, 0.92);
    padding-right: 5px;
    padding-left: 5px;
}

.home {
    text-align: center;
    margin: auto;
    padding: 10px;
}

a {
    color: #ffe4c4;
}

a:hover {
    color: #ffa07a;
}

a:visited {
    color: #ffe4c4;
}

a:visited:hover {
    color: lightsalmon;
}