@font-face {
    font-family: GothicByte;
    src: url(fonts/Gothicbyte-WpeRG.ttf);
}

@font-face {
    font-family: PixelGamer;
    src: url(fonts/PixgamerRegular-OVD6A.ttf);
}

body {
    background-image: url(assets/backgrounds/New\ Project.jpg);
}

header {
    color: white;
    text-align: center;
    margin: auto;
    font-family: GothicByte;
    font-size: 70px;
    padding: 20px;
}

.container {
    border: 2px solid sienna;
    align-content: center;
    max-width: 1000px;
    margin: auto;
    color: white;
    background-color: black;
    letter-spacing: 1px;
    padding: 0px 5px 0px 5px
}

#left {
    float: left;
    width: 200px;
    margin-top: 5px;
    margin-right: 5px;
}

#right {
    float: right;
    width: 200px;
    margin-top: 5px;
    margin-left: 5px;
    
}

#main {
    margin: 5px;
    padding: 0px 5px 0px 5px;
    font-family: PixelGamer;
    font-size: 20px;
    padding: 10px;
}

.box-head {
    color: black;
    background-color: sienna;
    border-bottom: 2px solid sienna;
    text-align: center;
    font-family: GothicByte;
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 5px;
}

.box-body {
    color: white;
    background-color: black;
    font-family: PixelGamer;
    font-size: 20px;
    padding: 10px;
    border: 2px solid sienna;
    margin-bottom: 5px;
}

.divider {
    display: inline-flex;
    width: 1000px;
    padding: 0;
    margin: 0;
}

#nav-body {
    text-align: left;
    font-family: PixelGamer;
    font-size: 20px;
    letter-spacing: 3px;
}

#scrollbox {
    height: 160px;
    overflow-y: scroll;
}

footer {
    color: white;
    font-family: GothicByte;
    font-size: 20px;
    text-align: center;
    border: 2px solid sienna;
    letter-spacing: 3px;
    background-color: black;
}

a {
    color: orangered;
}

a:hover {
    color: orange;
}

a:visited {
    color: orangered;
}

a:visited:hover {
    color: orange;
}